.github
.git
*.md
.vscode
.gitignore
Makefile
docs
.eslintcache
web/node_modules
web/dist
web/.next
web/build
bin
*.exe
*.out
*.test
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.DS_Store
*.swp
*.swo
coverage*
tmp